<%= form_with(model: @vote, local: true) do |form|%>
    
    <div class="field>
    <%= form.submit %>
    <br><br><br>
    <%= form.label "Select a Product" %><br />
    <%= form.radio_button(:option, true) %>
    <%= form.radio_button(:option, false) %>
    <br>
    
    </div>

<% end %>