<%= form_with(model: @vote, local: true) do |form|%>
    
    <div class="field>
    
    <br>
    <%= form.label " " %> <br />
    <%= form.radio_button(:option, true) %>
    <%= form.submit "Vota!" %>
    <%= form.radio_button(:option, false) %>
    
    </div>

<% end %>